<!-- Profile Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A little about me...</h3>
                </div>
            </div>
            <div class="row text-center">
                {% for member in site.people %}
                <div class="col-lg-12">
                    <div class="profile-member">
                        <img src="{{ site.baseurl }}/img/profile/{{ member.pic }}.jpg" class="profile-pic img-responsive img-square img-centered" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fab fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">
                        A graduate of Computer Science from Newcastle University's School of Computing, I have been working in or around technology my entire career.
                        My first "proper" job was as a software engineer at JPMorgan where I worked on large scale financial applications within the investment banking division. I finished up there with a stint in cybersecurity.
                        Probably the best bank in the world to work for but the longer you stay at these places the harder it becomes to leave - so I took the plunge.
                    </p>
                    <p class="large text-muted">
                        I moved on to an operational role at Uber in 2015 and was part of their push to provide ridesharing across the entire UK. My time there was focused on expanding their business in the North East of England and finished up with a regional role in the South.
                        Once it became clear Uber was maturing within the UK, I took the opportunity to move to a startup where I could have a bigger impact in a senior role and joined Community Fibre in London.
                    <p class="large text-muted">
                        For whatever reason, I became certain there would be a lot of disruption in Internet infrastructure and service and the timing was perfect as I became the Customer Experience Director for Community Fibre where I helped set up and scale their sales, marketing, customer service and engineering teams.
                        The biggest achievement there was building a team that really did become the most customer-centric ISP in the country and they earned that #1 spot on Trustpilot which they still hold (as I write this).
                    </p>
                    <p class="large text-muted">
                        After lots of good growth, I had another "Uber moment" where I realised that the most interesting work had been done which provided me with the dilemma of what to do next.
                        Having gone from a software engineer at one of the world's largest companies, to an ops manager at one of its fastest growing, and having scaled a company from startup to SME as part of the exec team, the next step was either founding a company or moving into what I had long been obsessed with - investing.
                        I did the latter and ever since I have had the privilege of being part of the OpenOcean team as we invest and support the most exciting technology startups in the world.
                    </p>
                    </p>
                        ...
                    </p>
                    <p class="large text-muted">
                        For the avoidance of doubt, all opinions posted here are my own.
                    </p>
                </div>
            </div>
        </div>
    </section>