<!-- interests Section -->
    <section id="interests">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Interests</h2>
                    <h3 class="section-subheading text-muted">Not exhaustive but some of the subjects that I have an interest, expertise, and passion for.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-robot fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technology</h4>
                    <p class="text-muted">a.<br/>- b</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-money-bill-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Investment</h4>
                    <p class="text-muted">a.<br/>- b</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-chess fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Strategy</h4>
                    <p class="text-muted">a.<br/>- b</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Operations</h4>
                    <p class="text-muted">a.<br/>- b</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-flag fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Leadership</h4>
                    <p class="text-muted">"I considered Napoleon's presence in the field equal to forty thousand men"<br/>- The Duke of Wellington</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-vote-yea fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Policy</h4>
                    <p class="text-muted">Kings will be tyrants from policy, when subjects are rebels from principle.<br/>- Edmund Burke</p>
                </div>
            </div>
        </div>
    </section>