<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
    </ul>

    {% include header.html %}
    {% include posts_grid.html %}
    {% include profile.html %}
    {% include interests.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>